<!DOCTYPE html>
<html>
<head>
  <title>IdifyAp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="container-narrow">
  <div class="masthead">
    <%= render 'layouts/user_header' %>
    <h3 class="muted"><%= link_to "Social integrator", root_path %></h3>
    <h5 class="muted">A demo  Application of Social integrator</h5>
  </div>
  <hr />
  <%= yield %>
</div>


</body>
</html>
